<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> User Details </h3>
  </div>
  <div class="panel-body">
    <p>
      <b>Name: </b> <%= @user.name %><br />
      <b>Email: </b> <%= @user.email %><br />
      <b>Last Sign In: </b> <%= @user.last_sign_in_at %><br />
      <b>Created At: </b> <%= @user.created_at %><br />
    <p>
  </div>
</div>